http_interactions:
- request:
    method: get
    uri: https://adventofcode.com/2021/day/1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/html
      server-ip: 172.31.61.174
    body:
      encoding: ''
      file: no
      string: "<!DOCTYPE html>\n<html lang=\"en-us\">\n<head>\n<meta charset=\"utf-8\"/>\n<title>Day
        1 - Advent of Code 2021</title>\n<!--[if lt IE 9]><script src=\"/static/html5.js\"></script><![endif]-->\n<link
        href='//fonts.googleapis.com/css?family=Source+Code+Pro:300&subset=latin,latin-ext'
        rel='stylesheet' type='text/css'/>\n<link rel=\"stylesheet\" type=\"text/css\"
        href=\"/static/style.css?30\"/>\n<link rel=\"stylesheet alternate\" type=\"text/css\"
        href=\"/static/highcontrast.css?0\" title=\"High Contrast\"/>\n<link rel=\"shortcut
        icon\" href=\"/favicon.png\"/>\n<script>window.addEventListener('click', function(e,s,r){if(e.target.nodeName==='CODE'&&e.detail===3){s=window.getSelection();s.removeAllRanges();r=document.createRange();r.selectNodeContents(e.target);s.addRange(r);}});</script>\n</head[...]
